streamlit
pandas
numpy
scikit-learn
plotly
matplotlib
seaborn
joblib
beautifulsoup4
requests
tensorflow
transformers
langchain-community
langchain-core
langchain-text-splitters
sentence-transformers
faiss-cpu